#sixthPage{
    display: flex;
    flex-direction: column;
    // padding: 25px 0px;
    p{
        padding: 25px;
    }

    h{
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        margin: 25px;
    }
}

.footerContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;

    .row{
        display: flex;
        flex-direction: row;
        gap: 25px;
        margin: 0px;

        .col{
            display: flex;
            min-width: fit-content;
            font-size: 16px;
            justify-content: space-evenly;
            font-weight: normal;
            text-align: center;
            // color: rgb(59, 96, 230);
            background-color: transparent;
            margin: 0px;
        }
    }
}

@media (max-width:900px){
    #sixthPage{
        .footerContainer{
            flex-direction: row;
            .row{
                display: flex;
                flex-direction: column;
                .col{
                    // color: red;
                    font-size: 12px;
                    // text-align: left;
                }
            }
        }
    }
}